/**
 * VirtualList Styles
 */

.container {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.content {
  position: relative;
  width: 100%;
}

.items {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.item {
  width: 100%;
}
